# This file serves as an example configuration for a WireGuard interface.
# It should be copied to wg0.conf and populated with the private key
# of the gateway and the public keys of any peers.
[Interface]
PrivateKey = YOUR_PRIVATE_KEY
Address = 10.0.0.1/24
ListenPort = 51820

[Peer]
PublicKey = A_PEER_PUBLIC_KEY
AllowedIPs = 10.0.0.2/32
